<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load filters %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
  <header class="header">
      <nav class="nav">
          {% if user.is_authenticated %}
         {% include 'recipes/page_parts/navbar_authenticated.html' %}
         {% else %}
         {% include 'recipes/page_parts/navbar_not_authenticated.html' %}
         {% endif %}
      </nav>
  </header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ author.username }}</h1>
            {% include 'recipes/page_parts/tagbar.html' %}
        </div>
        {% if request.user != author %}
        <div class="author-subscribe" data-author="{{ author.pk }}">
        {% if user.is_authenticated %}
            {% if request.user|is_subscribed:author %}
                <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться</button></p>
                {% else %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
                {% endif %}
            {% endif  %}
        </div>
        {% endif %}
        <div class="card-list" >
            {% for recipe in page.object_list %}
                {% include 'recipes/page_parts/card.html' %}
            {% endfor %}
    </div>
        {% include 'recipes/page_parts/paginator.html' %}
    </main>
    {% include 'recipes/page_parts/footer.html' %}



  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>
  <script src="{% static 'js/components/Subscribe.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'authorRecipe.js' %}"></script>
</body>
</html>
