{% extends 'users/base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Рецепты{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block main %}
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include 'recipes/page_parts/tagbar.html' %}
        </div>
        <div class="card-list">
            {% for recipe in page.object_list %}
            {% include 'recipes/page_parts/card.html' %}
            {% endfor %}
        </div>
        {% include 'recipes/page_parts/paginator.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static '/js/components/MainCards.js' %}"></script>
<script src="{% static '/js/components/Purchases.js' %}"></script>
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static '/js/components/CardList.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>
{% else %}
    <script src="{% static 'indexNotAuth.html' %}"></script>
{% endif %}
{% endblock %}