<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создание рецепта</title>
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
</head>
<body class="body">
    <header class="header">
        <nav class="nav">
            {% include 'recipes/page_parts/navbar_authenticated.html' %}
        </nav>
    </header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    {% include 'recipes/page_parts/recipe_form.html' %}
</main>
{% include 'recipes/page_parts/footer.html' %}

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/utils/debouncing.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js'%}"></script>

</body>
</html>