{% extends 'users/base.html' %}
{% load static %}
{% block title %}
    {% if recipe %}
    Изменение рецепта
    {% else %}
    Создание рецепта
    {% endif %}
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}


{% block main %}
    <div class="main__header">
        {% if recipe %}
            <h1 class="main__title">Изменение рецепта</h1>
        {% else %}
            <h1 class="main__title">Создание рецепта</h1>
        {% endif %}
    </div>
    {% include 'recipes/page_parts/recipe_form.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/utils/debouncing.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js'%}"></script>
{% endblock %}


