{% load filters %}
<ul class="tags">
     <li class="tags__item">
         <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange {% if request|is_requested:"Завтрак" %}tags__checkbox_active{% endif %}" href="{{ request|make_tag_filtered_url:"Завтрак" }}"></a>
         <span class="tags__label">Завтрак</span>
     </li>
     <li class="tags__item">
         <a id="lunch" class="tags__checkbox tags__checkbox_style_green {% if request|is_requested:"Обед" %}tags__checkbox_active{% endif %}" href="{{ request|make_tag_filtered_url:"Обед" }}"></a>
         <span for="lunch" class="tags__label">Обед</span>
     </li>
     <li class="tags__item">
         <a id="dinner" class="tags__checkbox tags__checkbox_style_purple {% if request|is_requested:"Ужин" %}tags__checkbox_active{% endif %}" href="{{ request|make_tag_filtered_url:"Ужин" }}"></a>
         <label for="dinner" class="tags__label">Ужин</label>
     </li>
 </ul>