{% extends 'users/base.html' %}
{% load static %}

{% block title %}Список покупок{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block main %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for recipe in recipes %}
            {% include 'recipes/page_parts/wishlist_card.html' %}
            {% endfor %}
        </ul>
        <a href="{% url 'download_ingredients' %}"><button class="button button_style_blue">Скачать список</button></a>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'shopList.js'%}"></script>
{% endblock %}

