{% extends 'users/base.html' %}
{% load static %}
{% block title %} Изменить пароль {% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block main %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
        <form class="form">
            <div class="form__group">
                <label for="id_oldPassword" class="form__label">Старый пароль</label>
                <div class="form__field-group">
                    {{ form.old_password }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_newPassword" class="form__label">Новый пароль</label>
                <div class="form__field-group">
                    {{ form.new_password1 }}
                    <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                    <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                    <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                    <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="id_confirmPassword" class="form__label">Подтверждение нового пароля</label>
                <div class="form__field-group">
                    {{ form.new_password2 }}
                    <span class="form__error"></span>
                </div>
            </div>
                <div class="form__footer">
                    <button class="button button_style_blue">Изменить пароль</button>
                </div>
            {% include 'recipes/page_parts/form_errors.html' %}
        </form>
    </div>
{% endblock %}
