
<div class="nav__container container">
    <ul class="nav__items list">
        <li class="nav__item {% if page_name == 'index' %}nav__item_active{% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
        <li class="nav__item {% if page_name == 'subscriptions' %}nav__item_active{% endif %}"><a href="{% url 'subscriptions' %}" class="nav__link link">Мои подписки</a></li>
        <li class="nav__item {% if page_name == 'create_recipe' %}nav__item_active{% endif %}"><a href="{% url 'create_recipe' %}" class="nav__link link">Создать рецепт</a></li>
        <li class="nav__item {% if page_name == 'favourites' %}nav__item_active{% endif %}"><a href="{% url 'favourites' %}" class="nav__link link">Избранное</a></li>
        <li class="nav__item {% if page_name == 'wishlist' %}nav__item_active{% endif %}"><a href="{% url 'wishlist' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ user.purchases.count }}</span></li>

    </ul>
    <ul class="nav__items list">
        <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
    </ul>
</div>
